[Unit]
Description=Persistent TAP Interface
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/bin/sh -c 'ip link show tap-cloud >/dev/null 2>&1 || ip tuntap add dev tap-cloud mode tap'
ExecStart=/bin/sh -c 'ip addr show dev tap-cloud | grep -q 198.51.100.2 || ip addr add 198.51.100.2/30 dev tap-cloud'
ExecStart=/usr/sbin/ip link set tap-cloud up
ExecStart=/bin/sh -c 'ip route show 203.0.113.0/30 | grep -q 198.51.100.1 || ip route add 203.0.113.0/30 via 198.51.100.1 dev tap-cloud'
ExecStart=/bin/sh -c 'ip route show 203.0.113.4/30 | grep -q 198.51.100.1 || ip route add 203.0.113.4/30 via 198.51.100.1 dev tap-cloud'

ExecStop=/usr/sbin/ip link del tap-cloud

[Install]
WantedBy=multi-user.target
